body {
    background-color: rgb(80, 77, 77);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 400px;
    background: white;
    box-shadow:10px 10px 7px 0 red;
}

.arrow {
    width: 80px;
    height: 2px;
    border: 2px double red;
}

.ballon {
    width: 50px;
    height: 50px;
    border:2px double blue;
    border-radius: 50%;
    position: relative;
    left:90%;
}
#a{
    top:10%;  
  }
#b{
  top:40%;  
}
#c{
    top:60%;  
  }

 .score,.miss {
     width: 50px;
     height: 40px;
     line-height: 40px;
     text-align: center;
 } 

 .score {
     position: fixed;
     left:96%;
     background-color: yellowgreen;
 }

 .miss {
     background-color: red;
 }